<h1 class="title">Formulario de inscripción de proveedores</h1>

<div class="content-text">
  Podrán inscribirse todas las personas interesadas en ser proveedores de
  bienes y servicios. Cualquier persona natural o jurídica podrá registrarse,
  cumpliendo con los requisitos exigidos y el procedimiento que la Empresa
  define para tal efecto. 
  <br>
  <br>
  Teniendo en cuenta la estrategia de
  aprovisionamiento, la Empresa establece criterios de capacidad jurídica,
  financiera, técnica, administrativa, operativa y demás que se consideran
  pertinentes, con el fin de que los proveedores registrados puedan ser
  precalificados para las diferentes categorías de bienes y servicios, lo cual
  servirá de fuente de información para realizar solicitudes de ofertas, según
  los procedimientos establecidos en el Reglamento de Contratación. 
  <br>
  <br>
  Para poder
  participar en los procesos de contratación de FINSOCIAL, es requisito para
  el proveedor, estar registrado en el sistema 
  <br>
  <span class="other-style">diligenciando todos los datos
      solicitados a continuación.</span> 
</div>
